nvim/lua/packer_compiled.lua
target/
.dotter/local.toml
.dotter/cache.toml
.dotter/cache
lazygit/state.yml
*.db
!requirements.txt
*.txt
*.sql
database
.config/mpd/playlists/Lofi.m3u
.config/qutebrowser/__pycache__
