# Pacman
base-devel
git
make
cmake
clang
gcc
bc
curl
unzip

# System
man-db
man-pages
zsh
direnv
brightnessctl
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland

# Desktop
hyprland
hyprlock
hypridle
hyprpaper
dunst
fuzzel
wofi
waybar
wl-clipboard
ttf-font-awesome
swaylock

# Terminal & shell
neovim
starship
zoxide
zellij
fzf
fd
ripgrep
eza
bat
xh

# Dev tools
gopls
gdb
valgrind
avr-gcc
avrdude
arm-none-eabi-gcc
arm-none-eabi-binutils
arm-none-eabi-newlib
uncrustify
premake

# Apps
lazygit
yazi
qutebrowser
zathura
zathura-pdf-poppler
rsync

# Music
mpd
mpc
rmpc
beets
ffmpeg

# AUR
hyprshot
hyprpanel
btctl
catppuccin-gtk-theme-mocha
wezterm-git
sheldon
wlogout
