# Pacman
base-devel
git
neovim
man-db
readline
make
cmake
clang
gcc
avr-gcc
avrdude
arm-none-eabi-gcc 
arm-none-eabi-binutils
arm-none-eabi-newlib
man-pages
zathura
zathura-pdf-poppler
starship
curl
lazygit
unzip
zsh
zoxide
eza
bat
premake
hyprland
wofi
mpd
gdb
valgrind
mpc
rmpc
waybar
ttf-font-awesome
swaync
hyprlock
hypridle
hyprpaper
fd
fzf
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland


# AUR
hyprshot
catppuccin-gtk-theme-mocha
wezterm-git
wl-clipboard
