default_shell "zsh"
ui {
	pane_frames {
		rounded_corners true
	}
}

keybinds {
    unbind "Ctrl h"
    unbind "Ctrl o"

    normal {
        bind "Ctrl m" { SwitchToMode "Move"; }
		bind "Ctrl x" { SwitchToMode "Session"; }
    }
    shared_except "session" "locked" {
        unbind "Ctrl o"
		bind "Ctrl x" { SwitchToMode "Session"; }
	}

}

theme "catppuccin-mocha"
